app/
Notes.md
sparta-app-image.tar
labex-projects/
README_tmp.html
.vscode/
.gitattributes

.terraform/
terraform.tfstate
terraform.tfstate.backup
tfstate.lock.info
variable.tf
variables.tf
.terraform.lock.hcl

Project 1/Project files/docker-practice
Project 1/image.png
Project 1/image-1.png
Project 1/image-2.png
freestyle-jobs.sh

Powershell script for moving images to images folder